/* Vacations List Page Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9e7e5;
    color: #333;
}

/* Header Styles */
header {
    background-color: #ffffff;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    margin-right: 10px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    width: 100%;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #008b78;
    font-weight: bold;
    font-size: 25px;
}


form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 10px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #008b78;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #007767;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    color: #008b78;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table a {
    color: #008b78;
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background-color: #ffffff;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.social-media a img {
    width: 25px;
    margin: 0 10px;
}

footer p {
    color: #008b78;
}
